/* 重置样式 - 部分normalize.css没处理的样式 */
html, body, h1, h2, h3, h4, h5, h6, blockquote, p, pre, dl, dd, ol, ul, li, a, span, caption, th, td, form, fieldset, legend, input, button, textarea, address{
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%
}

input {
  border:0;
  outline:none;
  padding:16px 0;
}

a,a:hover{
  text-decoration: none;
}

fieldset {
  border:0
}

ul{
  list-style: none;
}

button, input, select, textarea, tt{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

*,:after,:before {
  box-sizing: inherit;
}



